<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        #wrap { width: 1000px; margin: 0 auto;}
        header {width: 1000px; height: 100px; background: #111;}
        nav    {width: 1000px; height: 100px; background: #222;}
        aside {width: 300px; height: 600px; float: left; background: #333;}
        section {width: 700px; height: 600px; float: left; background: #444;}
        footer {width: 1000px; height: 100px; background: #555; clear:both;}
    </style>
</head>
<body>
    <div id="wrap">
        <header></header>    <!--이것이 시멘틱 태그-->
        <nav></nav>
        <aside></aside>
        <section></section>
        <footer></footer>
    </div>
    
    <!--exploer8 부터는 지원이 안됨-->
</body>
</html>